/* src/App.css */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1f0c1f; /* Set a background color that covers the entire viewport */
  font-family: 'Bubblegum Sans';
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Bubblegum Sans';
}

.title {
  color: #f9f6f6;
  text-align: center;
  font-weight: 700;
  background-color: rgba(160, 44, 180, 0.373);
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.card {
  background: #fffffff6;
  border: 2px solid #010004;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card-text {
  text-align: center;
}

.error-text {
  text-align: center;
  color: #ff1313;
  font-weight: 700;
  font-size: 2em;
}

.card img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.button-home {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  font-family: 'Bubblegum Sans';
  font-weight: 700;
}

.button-primary {
  background-color: #2281cfe7;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

.button-outline {
  background-color: transparent;
  border: 3px solid #3e8fe5fa;
  color: #3e8fe5fa;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.view-creator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.left-creator {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  width: 45%;
  align-items: center;
  padding: 5%;
  border-radius: 8px;
}

.description-container {
  padding: 5%;
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 45%;
  border-radius: 8px;
}

.description {
  color: rgb(18, 17, 17);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 700;
}

.creator-image {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

h1 {
  color: #f9f6f6;
  font-family: 'Bubblegum Sans';
  text-align: center;
  padding-bottom: 5%;
}

.subtitle {
  font-size: 1.5em; 
  color: white;
  margin-top: 10px;
}

.delete-button {
  background-color: #ff0000;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: #797b7e;
  margin: 0 5px;
  position: relative;
}

.icon-button:hover {
  color: #4dd9ec;
}

.icon-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.delete-button .delete-icon {
  color: #ff0000; 
}
.delete-button:hover .delete-icon {
  color: #cc0000; 
}



.icon-button .icon-text {
  visibility: hidden;
  background-color: #000; 
  color: #fff; 
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute; 
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  margin-left: -50px; 
  opacity: 0;
  font-size: 20px;
  transition: opacity 0.3s; 
  width: 100px;
}

.icon-button .icon-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent; 
}

.icon-button:hover .icon-text {
  visibility: visible;
  opacity: 1; 
}




/*for pagination*/

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #007bff;
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.page-link:hover {
  background-color: #0056b3;
  color: white;
}

.info-text {
  color: white;
  font-style: italic;
}


/* Style for the creator's URL */
.creator-url {
  font-size: 1em;
  color: #2281cfe7;
  word-break: break-all; /* Ensures long URLs wrap properly */
  margin: 10px 0;
}

/* New style for the creator's link */
.creator-link {
  font-size: 1.2em;
  color: #2281cfe7;
  text-decoration: none;
  margin: 10px 0;
}

.creator-link:hover {
  color: #0056b3;
  text-decoration: underline;
}